@font-face {
    font-family: "Shrikhand";
    src: url("./police/Shrikhand/Shrikhand-Regular.ttf");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto";
    src: url("./police/Roboto/Roboto-Black.ttf");
    font-weight: 100 1000;
}

@import "./pages/menus.scss";
body {
    font-family: Roboto;
    main {
        background: red;
    }
}