@import "./utils/tools.scss";
@import "./pages/menus.scss";
// @import "./utils/responsive.scss";
@font-face {
    font-family: "Shrikhand";
    src: url("./police/Shrikhand/Shrikhand-Regular.ttf");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto";
    src: url("./police/Roboto/Roboto-Black.ttf");
    font-weight: 100 1000;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand";
}

h2 {
    font-family: roboto;
}

a {
    color: black;
    text-decoration: none;
}

.loader {
    /* la base */
    font-family: "Shrikhand";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* emplacement */
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // back
    background: linear-gradient(to bottom right, #ff79da, #9356dc, #99e2d0);
    width: 100%;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 2.5s 1.2s linear forwards;
    &__page {
        border: 10px solid grey;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
        border-left: 20px solid#99e2d0;
        border-right: 20px solid #99e2d0;
        animation: loader__page 1.5s linear 1s forwards;
        & p {
            font-family: "Shrikhand";
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

.logo {
    font-family: "Shrikhand";
    font-weight: bold;
    font-size: 120%;
}

.logo__main {
    font-family: "Shrikhand";
    font-weight: bold;
    font-size: 120%;
    padding: 0 40px;
    border: none;
    box-shadow: none;
    margin-top: 10px;
    & h1 {
        margin: auto;
        text-align: center;
    }
    & img {
        transform: scale(0.7);
        width: 100%;
        margin: auto;
    }
}

header {
    @include flex-center;
    & .logo {
        border: none;
        box-shadow: none;
        & h1 {
            margin: auto;
            text-align: center;
        }
        & img {
            transform: scale(0.7);
            width: 100%;
            margin: auto;
        }
    }
    & a {
        margin: 0;
    }
}

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: 50px;
    // margin-bottom: 50px;
    background: #f6f6f6;
}

.exploration .location {
    height: 50px;
    width: 100%;
    background: #eaeaea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: inset 0px 12px 5px -6px rgba(206, 206, 206, 0.8);
    border: 0px solid #cecece;
    & i {
        transform: scale(0.5);
        margin: 15px;
    }
    & p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.introduction {
    background: #f6f6f6;
    width: 100%;
    & h2 {
        text-align: center;
        margin: 25px 0;
        padding: 0 15px;
    }
    & p {
        padding: 0 15px;
        text-align: center;
        font-size: 20px;
        margin: 20px 0;
        font-weight: normal;
    }
    &__search {
        margin: auto;
        padding: 0 15px;
        color: white;
        text-align: center;
        border: 1px solid #a4a4a4;
        border-radius: 40px;
        width: 60%;
        background: linear-gradient(0deg, #9356dc, #ff79da);
        box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
        transition: transform 0.3s;
        &:hover {
            box-shadow: 1px 12px 13px -11px rgba(0, 0, 0, 0.75);
            transform: scale(1.1);
        }
        & a {
            color: white;
        }
    }
}

.fonction {
    & h2 {
        padding: 0 40px;
    }
}

.fonctions {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    &__step {
        text-align: center;
        border: 0.3px solid #1c6ea400;
        border-radius: 25px;
        position: relative;
        width: 30%;
        height: 70px;
        box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
        font-weight: bold;
        &:hover {
            background: #f5edff;
            & i {
                color: #9356dc;
            }
        }
        & i {
            color: #7e7e7e;
            margin-right: 60px;
            font-size: 120%;
        }
        &__steps {
            position: absolute;
            left: -20px;
            top: 17px;
            border: 0px solid #1c6ea4;
            border-radius: 25px;
            padding: 6px 14px;
            background: #9356dc;
            color: white;
        }
        &__detail {
            padding-top: 23px;
            width: 100%;
        }
    }
}

.place {
    background: #f6f6f6;
    & h2 {
        padding: 20px 30px;
    }
    &__grille {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 30px;
        &__places {
            color: black;
            text-decoration: none;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border: 0px solid black;
            border-radius: 20px;
            box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
            margin: 20px 0;
            padding-bottom: 10px;
            overflow: hidden;
            width: 22%;
            height: 230px;
            &:hover {
                -webkit-transition: all 0.3s 0s ease;
                -moz-transition: all 0.3s 0s ease;
                -o-transition: all 0.3s 0s ease;
                transition: all 0.3s 0s ease;
                transform: scale(1.04);
            }
            & .new {
                position: absolute;
                text-align: right;
                top: 10%;
                right: 5%;
                & span {
                    font-family: "roboto";
                    background-color: #99e2d0;
                    padding: 5px 5px;
                    border-radius: 5px 5px;
                    color: #008766;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            &__img {
                & img {
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            &__description {
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                &__text {
                    margin-right: 20px;
                    & h3 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: bold;
                    }
                    & h4 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: normal;
                    }
                }
                &__heart {
                    position: relative;
                    font-size: 130%;
                }
            }
        }
    }
    .fa-heart {
        font-size: 1.3rem;
        color: white;
        margin-top: -60px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .fa-heart::before {
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
    }
    .fa-heart:hover::before {
        -webkit-text-stroke-width: initial;
        -webkit-text-stroke-color: white;
        color: #9356dc;
        cursor: pointer;
    }
}

footer {
    background: #353535;
    bottom: 0px;
    & ul {
        padding: 20px 0;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        & li {
            margin: 3px;
            height: 30px;
            list-style: none;
            & p {
                margin: 0;
            }
            & a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                flex-direction: row;
                color: black;
                & i {
                    margin-right: 15px;
                }
            }
        }
    }
}

.footer {
    color: white;
    & a {
        color: white;
    }
    & img {
        margin-top: 20px;
        filter: invert(100%);
        width: 150px;
        margin-left: 30px;
    }
}

.bloc-couleur {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

// mobile
@media screen and (max-width: 870px) {
    body {
        width: 100%;
    }
    .introduction__search {
        width: 70%;
    }
    .fonction h2 {
        padding: 20px 40px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fonctions {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        &__step {
            margin-bottom: 20px;
            width: 100%;
            &__detail {
                & i {
                    margin-right: 10px;
                    margin-left: 6px;
                }
            }
        }
    }
    .place {
        background: #f6f6f6;
        .place h2 {
            padding: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .place__grille {
            display: flex;
            flex-direction: column;
            &__places {
                width: 90%;
                & p {
                    left: 80%;
                    top: 7%;
                }
                &__description {
                    justify-content: space-between;
                    &__text {
                        margin-left: 20px;
                    }
                    &__heart {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

// tablette
@media screen and (min-width: 870px) and (max-width: 1330px) {
    body {
        width: 100%;
    }
    .introduction__search {
        width: 70%;
    }
    .fonction h2 {
        padding: 30px 20px;
    }
    .fonctions {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        &__step {
            margin-bottom: 20px;
            width: 270px;
            justify-content: space-evenly;
            &__steps {
                left: -25px;
            }
            & i {
                margin-right: 10px;
                font-size: 100%;
            }
        }
    }
    .place h2 {
        padding: 40px 20px;
    }
    .place__grille {
        display: flex;
        flex-direction: column;
        &__places {
            width: 90%;
            & p {
                left: 88%;
                top: 10%;
            }
            &__description {
                justify-content: space-between;
                &__text {
                    margin-left: 20px;
                }
                &__heart {
                    margin-right: 20px;
                }
            }
        }
    }
}