.chargement {
    font-family: "Shrikhand", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* la base */
    border: 10px solid grey;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 20px solid #9356dc;
    border-bottom: 20px solid #ff79da;
    border-left: 20px solid#99e2d0;
    border-right: 20px solid #99e2d0;
    /* emplacement */
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* animation */
    -webkit-animation: spin 2.5s linear infinite;
    -o-animation: spin 2.5s linear infinite;
    animation: spin 5s linear infinite;
    /* cacher le chargement */
    transition-delay: 1s;
}


/* animer le chargement */

@-webkit-keyframes spin {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(1);
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    1% {
        opacity: 1;
    }
    25% {
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1.2);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    75% {
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
        opacity: 0;
    }
}


/* .titre {
    font-size: 130%;
    font-size: 120%;
} */


/* .chargement i {
    font-size: 120%;
    color: #99e2d0;
} */