@font-face {
    font-family: "Shrikhand";
    src: url("./police/Shrikhand/Shrikhand-Regular.ttf");
    font-weight: 100 1000;
}

@font-face {
    font-family: "Roboto";
    src: url("./police/Roboto/Roboto-Black.ttf");
    font-weight: 100 1000;
}


/* couleurs

#9356DC #FF79DA #99E2D0
*/