.trait__dessous {
    border-top: 3px solid #99e2d0;
    width: 75px;
    margin-left: 10px;
    margin-bottom: 20px;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
}

header {
    .head-page {
        z-index: 999;
        position: fixed;
        top: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        &__content {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .head__page__arrow {
            position: absolute;
            left: 200px;
            font-size: 20px;
        }
    }
    & i {
        font-size: 200%;
        margin-left: 25px;
        cursor: pointer;
    }
    & .logo {
        border: none;
        box-shadow: none;
    }
    & h1 {
        align-items: center;
    }
    & a {
        margin-left: 10%;
    }
}

.background-page {
    top: 0;
    max-width: 100%;
    position: fixed;
    z-index: -1;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.content {
    width: 100%;
    border: 0px solid #1c6ea4;
    border-radius: 45px 45px 0px 0px;
    background: #f6f6f6;
    margin-top: 55%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & .title {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        & h1 {
            font-family: "Shrikhand";
            font-weight: bolder;
            font-size: 160%;
            font-style: italic;
        }
        & i {
            font-size: 130%;
        }
        .fa-heart {
            font-size: 150%;
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
        .fa-heart::before {
            content: "\f004";
            font-weight: bold;
            transition: color 1s ease-out;
        }
        .fa-heart:hover::before {
            -webkit-text-stroke-width: initial;
            -webkit-text-stroke-color: white;
            color: #9356dc;
            cursor: pointer;
        }
    }
    & .choice {
        width: 100%;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__choices {
            width: 50%;
            &__type {
                position: relative;
                background: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                flex-direction: row;
                // border: 0.3px solid #1c6ea400;
                border-radius: 25px;
                width: 100%;
                height: 80px;
                box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
                padding: 0 10px;
                padding-right: 0;
                margin: 10px 0;
                text-overflow: ellipsis;
                opacity: 0;
                cursor: pointer;
                &:hover .choice__choices__type__content__price {
                    padding-left: 75px;
                }
                &:hover i {
                    animation: spin-check 0.4s 0.3s ease-in-out both;
                }
                &:hover .choice__choices__type__check {
                    animation: slide-check 400ms 100ms ease-in-out both;
                }
                &:hover .choice__choices__type__content__price {
                    animation: slide-price 500ms ease-in-out both;
                }
                &__content {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    &__text {
                        margin-left: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        & h3 {
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        & h4 {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-weight: 400;
                        }
                    }
                    &__price {
                        padding-right: 20px;
                        font-weight: bold;
                        padding-left: 30px;
                        margin-top: 30px;
                    }
                }
                &__check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 0%;
                    position: absolute;
                    background-color: #99e2d0;
                    border-radius: 0 25px 25px 0;
                    opacity: 1;
                    height: 100%;
                    padding: 0 20px;
                    opacity: 0;
                    & i {
                        font-size: 160%;
                        color: white;
                    }
                }
            }
        }
        &__choices h2 {
            font-weight: 100;
            margin: 25px;
            margin-bottom: 8px;
            margin-left: 10px;
        }
    }
}

.choice__choices__type:nth-child(3) {
    animation: choice 700ms linear forwards;
}

.choice__choices__type:nth-child(4) {
    animation: choice 700ms 0.1s linear forwards;
}

.choice__choices__type:nth-child(5) {
    animation: choice 700ms 0.2s linear forwards;
}

.choice__choices__type:nth-child(8) {
    animation: choice 700ms 0.3s linear forwards;
}

.choice__choices__type:nth-child(9) {
    animation: choice 700ms 0.4s linear forwards;
}

.choice__choices__type:nth-child(10) {
    animation: choice 700ms 0.5s linear forwards;
}

.choice__choices__type:nth-child(13) {
    animation: choice 700ms 0.6s linear forwards;
}

.choice__choices__type:nth-child(14) {
    animation: choice 700ms 0.7s linear forwards;
}

.choice__choices__type:nth-child(15) {
    animation: choice 700ms 0.8s linear forwards;
}

.order {
    display: flex;
    padding: 10px;
    height: 45px;
    margin: 50px 0;
    color: white;
    border: 1px solid #a4a4a4;
    border-radius: 40px;
    width: 25vw;
    background: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
    transition: transform 0.3s;
    &:hover {
        box-shadow: 1px 12px 13px -11px rgba(0, 0, 0, 0.75);
        transform: scale(1.1);
    }
    & a {
        text-align: center;
        font-size: 120%;
        margin: auto;
        font-weight: normal;
        color: white;
    }
}

// mobile
@media screen and (max-width: 870px) {
    header {
        .background-page {
            top: 30px;
        }
        & .head-page__content {
            // width: 80%;
            width: 100%;
            & i {
                font-weight: 900;
                margin-bottom: 10px;
            }
            & .logo {
                & img {
                    transform: scale(0.6);
                }
                &__block {
                    margin-left: 25px;
                }
            }
            .head__page__arrow {
                position: absolute;
                left: -5px;
                // font-size: 15px;
                font-weight: 900;
            }
        }
    }
    .content {
        margin-top: 65%;
        margin-top: 65%;
        margin-left: 0;
        margin-right: 0;
        & .choice {
            &__choices {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &__type {
                    &__text {
                        justify-content: space-around;
                        text-overflow: ellipsis;
                    }
                    &__price {
                        padding-bottom: 8px;
                    }
                }
            }
        }
        & .title {
            justify-content: space-around;
            width: 100%;
        }
    }
    .order {
        width: 55%;
    }
}

// tablette
@media screen and (min-width: 870px) and (max-width: 1330px) {
    header {
        .background-page {
            top: 30px;
            max-width: 100%;
        }
        & .head-page__content {
            // width: 68%;
        }
        .head__page__arrow {
            left: 150px;
        }
    }
    .content {
        margin-top: 65%;
        & .choice {
            &__choices {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 20px;
                & h2 {}
                &__type {
                    &__text {
                        justify-content: space-around;
                    }
                    &__price {
                        padding-bottom: 8px;
                    }
                }
            }
        }
        & .title {
            justify-content: space-around;
            width: 150vw;
        }
    }
}