.trait__dessous {
    border-top: 3px solid #99e2d0;
    width: 75px;
    margin-left: 10px;
    margin-bottom: 20px;
}

body {
    width: 100%;
    margin: 0;
    height: 100%;
}

header {
    .head-page {
        z-index: 999;
        position: fixed;
        top: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        padding: 18px;
        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 60;
            width: 60%;
        }
    }
    & i {
        font-size: 200%;
        margin-left: 25px;
        cursor: pointer;
    }
    & .logo {
        border: none;
        box-shadow: none;
    }
    & h1 {
        align-items: center;
    }
    & a {
        margin-left: 10%;
    }
}

.background-page {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: -1;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.content {
    width: 100%;
    border: 0px solid #1c6ea4;
    border-radius: 45px 45px 0px 0px;
    background: #f6f6f6;
    margin-top: 55%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & .title {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px;
        & h1 {
            font-family: "Shrikhand", cursive;
            font-weight: bold;
            font-size: 200%;
        }
        & i {
            font-size: 130%;
        }
        .fa-heart {
            font-size: 150%;
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
        .fa-heart::before {
            content: "\f004";
            font-weight: bold;
            transition: color 1s ease-out;
        }
        .fa-heart:hover::before {
            -webkit-text-stroke-width: initial;
            -webkit-text-stroke-color: white;
            color: #9356dc;
            cursor: pointer;
        }
    }
    & .choice {
        width: 100%;
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__choices {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__choices h2 {
            font-weight: 100;
            margin: 25px;
            margin-bottom: 8px;
            margin-left: 10px;
        }
        &__choices__type {
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            animation: choice 700ms linear forwards;
            -webkit-animation: choice 700ms linear forwards;
            background: white;
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;
            flex-direction: row;
            border: 0.3px solid #1c6ea400;
            border-radius: 25px;
            width: 100%;
            height: 80px;
            box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
            justify-content: space-between;
            padding: 0 10px;
            padding-right: 0;
            margin: 10px 0;
            text-overflow: ellipsis;
            &:hover {
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &:hover i {
                animation: spin-check 0.4s 0.3s linear forwards;
            }
            &:hover .choice__choices__type__check {
                animation: slide-check 500ms linear forwards;
            }
            &:hover .choice__choices__type__price {
                animation: slide-price 500ms linear forwards;
            }
            &__text {
                text-overflow: ellipsis;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                height: 100%;
                justify-content: center;
                & h4 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: normal;
                }
            }
            &__price {
                margin-right: 20px;
                margin-bottom: 0;
            }
            &__check {
                left: 100%;
                position: absolute;
                background-color: #99e2d0;
                padding: 32px 20px;
                border-radius: 0 25px 25px 0;
                opacity: 0;
                & i {
                    font-size: 120%;
                    color: white;
                }
            }
        }
    }
}

.choice__choices__type__text:hover h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

.choice__choices__type__text:hover h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

.order {
    display: flex;
    padding: 10px;
    height: 45px;
    margin: 50px 0;
    color: white;
    border: 1px solid #a4a4a4;
    border-radius: 40px;
    width: 40%;
    background: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 10%);
    transition: transform 0.3s;
    &:hover {
        box-shadow: 1px 12px 13px -11px rgba(0, 0, 0, 0.75);
        transform: scale(1.1);
    }
    & a {
        text-align: center;
        font-size: 120%;
        margin: auto;
        padding: auto;
        font-weight: normal;
        color: white;
    }
}

// mobile
@media screen and (max-width: 870px) {
    header {
        .background-page {
            top: 30px;
        }
        & .head-page__content {
            width: 80%;
            & i {
                font-size: 150%;
                margin-bottom: 10px;
            }
            & .logo {
                &__block {
                    margin-left: 25px;
                }
            }
        }
    }
    .content {
        margin-top: 65%;
        margin-top: 65%;
        margin-left: 0;
        margin-right: 0;
        & .choice {
            &__choices {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                & h2 {}
                &__type {
                    &__text {
                        justify-content: space-around;
                    }
                    &__price {
                        padding-bottom: 8px;
                    }
                }
            }
        }
        & .title {
            justify-content: space-around;
        }
    }
    .order {
        width: 55%;
    }
}

// tablette
@media screen and (min-width: 870px) and (max-width: 1330px) {
    header {
        .background-page {
            top: 30px;
        }
        & .head-page__content {
            width: 68%;
        }
    }
    .content {
        margin-top: 65%;
        & .choice {
            &__choices {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 20px;
                & h2 {}
                &__type {
                    &__text {
                        justify-content: space-around;
                    }
                    &__price {
                        padding-bottom: 8px;
                    }
                }
            }
        }
        & .title {
            justify-content: space-around;
        }
    }
}