// keyframes
@keyframes loader {
    0% {
        opacity: 1;
        // -webkit-transform: rotate(0deg) scale(1);
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    25% {
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    50% {
        opacity: 0.5;
        // -webkit-transform: rotate(180deg) scale(1.2);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    75% {
        opacity: 0.1;
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    100% {
        opacity: 0;
        // -webkit-transform: rotate(360deg) scale(2);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
        opacity: 0;
    }
}

@keyframes loader__page {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg) scale(1);
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    25% {
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    50% {
        opacity: 0.5;
        -webkit-transform: rotate(180deg) scale(1.2);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
    }
    75% {
        opacity: 0.1;
        border-top: 20px solid #9356dc;
        border-bottom: 20px solid #ff79da;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(360deg) scale(2);
        border-top: 20px solid #ff79da;
        border-bottom: 20px solid #9356dc;
        opacity: 0;
    }
}

@keyframes choice {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

// rotation du check
@keyframes spin-check {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

// deplacement du check
@keyframes slide-check {
    from {
        width: 0;
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-price {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-60px);
    }
}